<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Orsz</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")'></script>
    </head>
    <body>
       @side_bar()
      <div>text</div>
    </body>
</html>
