@import model.Proposition
@(headerTitle: String, props: List[Proposition])
<!DOCTYPE html>
<html lang="en">
  <head>
    @head(headerTitle)
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      @header(headerTitle)
      <main class="mdl-layout__content">
        @home(props)
        @footer()
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
