@import model.Proposition
@import play.twirl.api.Html
@(prop: Proposition)
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>@prop.name</h4>
      @Html.apply(prop.content.take(150))
    </div>
    <div style="width: 100%; overflow: hidden; margin: 40px;">
      <div style="width: 600px; float: left;">
        Owner: @prop.owner<br>
        Create At: @prop.createDate
      </div>
      <div style="margin-left: 620px;">
        <i id="upvote-@prop.id" class="material-icons" style="cursor: pointer;" onclick="javascript:upvoteProposition('@prop.id', '@prop.owner')">thumb_up</i><i id="upvote-count-@prop.id">@prop.upvotes</i>
        <i id="downvote-@prop.id" class="material-icons" style="cursor: pointer;" onclick="javascript:downvoteProposition('@prop.id', '@prop.owner')">thumb_down</i><i id="downvote-count-@prop.id">@prop.downvotes</i><br>
        @prop.views views
      </div>
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button">Details!</a>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
    <li class="mdl-menu__item">Lorem</li>
    <li class="mdl-menu__item" disabled>Ipsum</li>
    <li class="mdl-menu__item">Dolor</li>
  </ul>
</section>
